<%- include('partials/header') %>

<main class="form-signin">
   <form action="/signin" method="POST">
     <img class="mb-4" src="images/panda.png" alt="" width="80" height="100">
     <h1 class="h3">Welcome to Techdots</h1>
     <input type="email" name="username" id="inputPassword bottom" class="form-control" placeholder="E-mail" required></input>
     <input type="password" name="password" class="form-control top" placeholder="Password" required autofocus>
     <div class="checkbox mb-3">

     </div>
     <button class="w-100 btn btn-lg btn-primary" role="button">Register</button>

   </form>
 </main>

<%- include('partials/footer') %>
