<%- include('partials/header') %>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
<style>
body {
  background-color:#f9f871;
  padding-left: 570px;
  font-family: 'Ubuntu', sans-serif;
}
.Welcome{
  text-align:centre
}

</style>
<div class="Welcome">

<h1 class="Welcome">Welcome to the family</h1>
</div>

<%- include('partials/footer') %>
